* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-main: rgb(252, 252, 252);
    --bg-accent: rgb(190, 190, 190);
    --border-sep: 1px rgba(0, 0, 0, 0.253) solid;
    --border-sep: 1px rgb(207, 207, 207) solid;
    --border-header-sep: 1px rgb(144, 144, 144) solid;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;

}


/* Хедер, футер */
.header {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    position: sticky;
    top: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    /* width: 100%; */
    /* margin: auto; */
    padding: 9px 0 7px 0;

    background-color: var(--bg-main);
    border-bottom: var(--border-header-sep);
}
.header .nav_left {
    margin-right: auto;
    margin: 0 0 0 10px;
    position: relative;

}
.header .nav_right {
    margin-left: auto;
    padding: 0 10px 0 0;
    position: relative;
}
.header i {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header .nav_left .fi-rr-arrow-small-left {
    /* position: absolute;
    top: -30%;
    left: 0; */
    width: 90%;
    height: 90%;
}
.header_title {
    font-size: .88rem;
    line-height: 1rem;
    font-weight: 100;
    text-align: center;
    margin: auto;
    letter-spacing: -.44px;
    cursor: pointer;
}
.nav_footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: fit-content;
    margin: auto;
    background-color: var(--bg-main);
    border-top: var(--border-sep);
    z-index: 999;
}


/* Мэйн блок */
.container {
    position: relative;
    width: 100%;
    height: max(100%, 100vh);
    margin: auto;
    background-color: var(--bg-accent);
    /* Чтобы прибить футер к низу */

}

.content {
    width: 100%;
    margin: auto;
}

.hide_sides {
    position: relative;
    width: 100%;
    background-color: var(--bg-main);
    z-index: 999;
}
