.calendFilters {
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* text-align: center; */
    background-color: #f6f6f6;
    padding: 0 0 0 calc(100vw / 20);
}
.calendFilter {
    /* padding: 0.8rem; */
    padding: calc(127vw / 29) 0;
    text-align: left;
    font-size: calc(100vw / 32);
    font-size: calc(100vw / 26);
    font-weight: 600;
    cursor: pointer;
    /* border-bottom: 18px #ffffff solid;
    border-top: 27px #fff solid; */
}
.ui-datepicker-calendar tbody:before {
    line-height: .8rem;
    content:".";
    color:white;
    display:block;
  }
