.calendFilters {
    margin: auto;
    /* display: grid;
    grid-template-rows: 1fr .7fr; */
    /* text-align: center; */
    background-color: #f6f6f6;
    /* padding: 0 0 0 calc(100vw / 20); */

}
.calendFilter {
    /* padding: 0.8rem; */
    /* padding: calc(127vw / 29) 0 calc(127vw / 29) calc(100vw / 20); */
    /* padding: calc(127vw / 29) 0 calc(127vw / 29) calc(100vw / 20); */
    text-align: left;
    font-size: calc(100vw / 32);
    font-size: calc(100vw / 26);
    font-weight: 600;

    /* display: grid;
    grid-template-columns: 1fr 50fr; */
    /* border-bottom: 18px #ffffff solid;
    border-top: 27px #fff solid; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-right: auto;
    padding: calc(187vw / 29) 0 calc(180vw / 29) calc(100vw / 20);

}
.calendFilter#calendar_workername,
.calendFilter#calendar_object {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: end; */
    /* animation: moving .4s ease; */
}
.calendFilter .workername,
.calendFilter .obj {
    display: block;
    font-weight: 400;
    font-size: calc(100vw / 24);
    line-height: calc(100vw / 20);

}
.writernames {
    display: block;
    font-weight: 400;
    font-size: calc(100vw / 24);
    font-size: 1.1rem;
    /* line-height: calc(100vw / 13); */

}
.writernames > span {
    font-weight: 700;
    font-size: calc(100vw / 24);
    font-size: 1rem;
 }
#workerselect_writernames {
    /* padding: calc(28vw / 29) 0 calc(105vw / 21) calc(100vw / 20); */
    padding: 0 0 calc(105vw / 21) calc(100vw / 20);
    padding: 1rem 0 2rem 15px;
    margin: 0 0 .6rem 0;
}
.calendFilter .band {
    display: block;
    font-weight: 400;
    font-size: calc(100vw / 26);
    line-height: calc(100vw / 13);
}

.calendarFilterSection {
    /* display: flex; */
    /* flex-direction: column; */
    border-bottom: 1px rgb(183, 183, 183) solid;
    border-top: 1px rgb(183, 183, 183) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: calc(100vw / 20); */

}
.ui-datepicker-calendar tbody:before {
    line-height: .8rem;
    content:".";
    color:white;
    display:block;

  }
.calendar_menu_arr {
    min-width: calc(100vw/26);
    height: calc(100vw/26);
    /* min-width: calc(100vw / 28); */
    /* min-height: calc(100vw / 28); */
}
#calendar_workername {
    font-size: calc(100vw / 18);
    background-color: #fafafa;
    width: 100%;
    font-weight: 700;
    /* padding: calc(132vw / 29) 0 calc(54vw / 29) calc(100vw / 20); */
    padding: 0 0 calc(200vw / 29) calc(100vw / 20);
    cursor: pointer;
}
#calendar_object {
    font-size: calc(100vw / 18);
    background-color: #fafafa;
    width: 100%;
    font-weight: 700;
    /* padding: 0 0 calc(140vw / 29) calc(100vw / 20); */
    padding: calc(132vw / 29) 0 calc(100vw / 21) calc(100vw / 20);
    /* padding: 0 0 0 calc(100vw / 20); */
    box-shadow: 0 2px 2px 0px rgb(206, 206, 206);
    cursor: pointer;
}
.workerselectObject {
    /* padding: calc(132vw / 29) 0 calc(100vw / 21) calc(100vw / 20); */
    font-weight: 700;
    /* animation: moving .4s ease; */
    font-size: calc(100vw / 26);
    font-size: 1.1rem;
}
.workerselectObject .obj {
    font-weight: 400;
    font-size: calc(100vw / 24);
    font-size: 1.1rem;
    line-height: calc(100vw / 20);
    line-height: 1rem;
}
#workerselect_object {
    padding: calc(132vw / 29) 0 calc(100vw / 21) calc(100vw / 20);
    padding: 2rem 0 1rem 15px;
    font-size: calc(100vw / 18);
    font-size: 1.6rem;
    background-color: #fafafa;
    width: 100%;
    /* cursor: pointer; */
}
#calendar_worktype {
    cursor: pointer;
    padding: calc(110vw / 29) 0 calc(100vw / 21) calc(100vw / 20);
    background-color: #fafafa;
    font-size: calc(100vw/20);
}
#calendar_smena  {
    cursor: pointer;
    background-color: #fafafa;
    padding: calc(132vw / 29) 0 calc(78vw / 21) calc(100vw / 20);
    font-size: calc(100vw/20);
}
#calendar_summary {
    font-size: calc(100vw / 23);
    /* background-color: #fafafa; */
    width: 100%;
    font-weight: 200;
    margin: auto 0;
    display: block;
    /* text-align: right; */
    padding: calc(100vw / 20) calc(100vw / 20) calc(100vw / 20) calc(100vw / 20);
}
