.change_workers {
    background-color: rgb(30, 94, 212);
    color: white;
    margin: 0 5px 0 0 ;
    outline: none;
    border: none;
    padding: 9px 42px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
}
.change_workers.ready {
    background-color: rgb(63 205 106);
}